<section class="form mb-5">
    <h1>Atendimento Integrado Bemol</h1>

    <p>Preencha os campos abaixo para iniciar o atendimento</p>

    <form [formGroup]="formulario" class="w-75">
        <h2>Dados pessoais</h2>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="nome" aria-describedby="Nome" placeholder="Informe seu nome">
            <span class="helpText" *ngIf="(formulario.get('nome')?.touched && formulario.get('nome')?.errors?.['required'])">Campo obrigatório</span>   
            <span class="helpText" *ngIf="(formulario.get('nome')?.touched && formulario.get('nome')?.errors?.['minlength'])">O nome precisa ter no mínimo 3 caracteres</span>   
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="Email" placeholder="email@email.com">
            <span class="helpText" *ngIf="formulario.get('email')?.touched && formulario.get('email')?.errors?.['required']">Campo obrigatório</span>
            <span class="helpText" *ngIf="formulario.get('email')?.touched && formulario.get('email')?.errors?.['email']">Email no formato incorreto</span>
        </div>

        <div class="mb-3 row col-md">
            <div class="col-md">
                <label for="data-nascimento" class="form-label">Data nascimento</label>
                <input formControlName="dataNascimento" type="date" class="form-control" id="data-nascimento">
                <span class="helpText" *ngIf="formulario.get('dataNascimento')?.touched && formulario.get('dataNascimento')?.errors?.['required']">Campo obrigatório</span>
            </div>

            <div class="col-md">
                <label for="telefone" class="form-label">Telefone</label>
                <input formControlName="telefone" type="tel" (keyup)="handlePhone($event)" class="form-control" id="telefone" placeholder="(99) 99999-9999">
                <span class="helpText" *ngIf="formulario.get('telefone')?.touched && formulario.get('telefone')?.errors?.['required']">Campo obrigatório</span>
                <span class="helpText" *ngIf="formulario.get('telefone')?.touched && formulario.get('telefone')?.errors?.['pattern']">Telefone inválido</span>
            </div>
        </div>

        <br>
        <h2>Endereço</h2>
        <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input formControlName="cep" (blur)="consultaCEP($event)" (keyup)="handleZipCode($event)" type="tel" class="form-control" id="nome" aria-describedby="CEP" placeholder="Informe seu CEP" cep>
            <span class="helpText" *ngIf="formulario.get('cep')?.touched && formulario.get('cep')?.errors?.['required']">Campo obrigatório</span>
            <!-- <span class="helpText" *ngIf="formulario.get('cep')?.touched && formulario.get('cep')?.errors?.['pattern']">CEP inválido</span> -->
        </div>
        <div class="mb-3">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input formControlName="logradouro" type="text" class="form-control" id="logradouro" aria-describedby="Logradouro" placeholder="Informe o logradouro">
            <span class="helpText" *ngIf="formulario.get('logradouro')?.touched && formulario.get('logradouro')?.errors?.['required']">Campo obrigatório</span>
        </div>

        <div class="mb-3 row col-md">
            <div class="col-md">
                <label for="numero" class="form-label">Número</label>
                <input formControlName="numero" type="tel" class="form-control" id="numero" placeholder="00">
                <span class="helpText" *ngIf="formulario.get('numero')?.touched && formulario.get('numero')?.errors?.['required']">Campo obrigatório</span>
            </div>

            <div class="col-md">
                <label for="complemento" class="form-label">Complemento (opcional)</label>
                <input formControlName="complemento" type="text" class="form-control" id="complemento" placeholder="Complemento">
            </div>
        </div>

        <div class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input formControlName="bairro" type="text" class="form-control" id="bairro" aria-describedby="Bairro" placeholder="Informe o bairro">
            <span class="helpText" *ngIf="formulario.get('bairro')?.touched && formulario.get('bairro')?.errors?.['required']">Campo obrigatório</span>
        </div>

        <div class="mb-3 row col-md">
            <div class="col-md">
                <label for="cidade" class="form-label">Cidade</label>
                <input formControlName="cidade" type="text" class="form-control" id="cidade" placeholder="Cidade">
                <span class="helpText" *ngIf="formulario.get('cidade')?.touched && formulario.get('cidade')?.errors?.['required']">Campo obrigatório</span>
            </div>

            <div class="col-md">
                <label for="uf" class="form-label">Estado</label>
                <input formControlName="uf" type="text" class="form-control" id="uf" placeholder="Estado">
                <span class="helpText" *ngIf="formulario.get('cidade')?.touched && formulario.get('cidade')?.errors?.['required']">Campo obrigatório</span>
            </div>
        </div>

        <div class="d-grid gap-2">
            <button [disabled]="formulario.invalid" (click)="iniciaAtendimento()" type="submit" class="btn btn-primary mt-5">Iniciar atendimento</button>
        </div>
    </form>
</section>