<section class="form mb-5">
    <h1>Atendimento Integrado Bemol</h1>

    <p>Preencha os campos abaixo para iniciar o atendimento</p>

    <form class="w-75">
        <h2>Dados pessoais</h2>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="Nome" placeholder="Informe seu nome">
            <!-- <div id="nomeHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="Email" placeholder="email@email.com">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>

        <div class="mb-3 row col-md">
            <div class="col-md">
                <label for="data-nascimento" class="form-label">Data nascimento</label>
                <input type="date" class="form-control" id="data-nascimento">
            </div>

            <div class="col-md">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="telefone" placeholder="(99) 99999-9999">
            </div>
        </div>

        <br>
        <h2>Endereço</h2>
        <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="tel" class="form-control" id="nome" aria-describedby="CEP" placeholder="Informe seu CEP">
            <!-- <div id="nomeHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" aria-describedby="Logradouro"
                placeholder="Informe o logradouro">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>

        <div class="mb-3 row col-md">
            <div class="col-md">
                <label for="numero" class="form-label">Número</label>
                <input type="tel" class="form-control" id="numero" placeholder="00">
            </div>

            <div class="col-md">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" placeholder="Complemento">
            </div>
        </div>

        <div class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" aria-describedby="Bairro" placeholder="Informe o bairro">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>

        <div class="mb-3 row col-md">
            <div class="col-md">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" placeholder="Cidade">
            </div>

            <div class="col-md">
                <label for="uf" class="form-label">Estado</label>
                <input type="text" class="form-control" id="uf" placeholder="Estado">
            </div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mt-5">Iniciar atendimento</button>
        </div>
    </form>
</section>